@import "tailwindcss";

/* Fonts here for later */

/* * {
	border: red 1px solid;
} */

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

	color-scheme: light dark;
	background-color: #2e2e2e;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
